//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.footer {
    padding: 40px 0 120px 0;
    background-color: $gray;

    &__inner {
        margin-left: 23px;

        @media screen and (min-width: 600px) {
          margin: 0 auto;
        }
    }

    &__ul {
        margin-bottom: 48px;

        @media screen and (min-width: 600px) {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          gap: 24px;
          padding: 0 24px;
        }
    }

    &__list {
        margin-bottom: 16px;
    }

    &__link {
        display: inline-block;
        color: #fff;
    }

    &__contents {
        width: fit-content;
        margin: 0 auto;
    }

    &__sns__link {
        display: inline-block;
        width: 32px;
        margin-right: 10px;
    }

    &__copy {
        margin-top: 40px;
        color: #fff;
        opacity: 0.4;

        @media screen and (min-width: 600px) {
          text-align: center;
        }
    }
}