//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.wrapper {
    overflow: hidden;
}

.info {
    width: 86vw;
    padding: 60px 0;
    margin: 0 auto;
    text-align: center;

    &__ttl {
        margin-bottom: 20px;
        font-size: 26px;
        letter-spacing: 0.02em;
        line-height: 1.7;

        @media screen and (min-width: 600px) {
            font-size: 29px;
        }
    }

    span {
        display: inline-block;
    }

    &__txt {
        font-size: 15px;
        font-weight: bold;
    }
}

.app {
    padding: 60px 0;
    background-color: $bgc;
    text-align: center;

    @media screen and (min-width: 600px) {
        padding: 64px 0;
        text-align: left;
    }

    &__inner {
        width: 76vw;
        margin: 0 auto;
    }

    &__main__container {
        display: flex;
        flex-direction: column-reverse;

        @media screen and (min-width: 600px) {
            justify-content: space-between;
            align-items: center;
            flex-direction: unset;
        }
    }

    &__box {
        @media screen and (min-width: 600px) {
            width: 43vw;
        }
    }

    &__img {
        width: 76vw;
        margin-bottom: 60px;

        @media screen and (min-width: 600px) {
            width: 31vw;
            margin-bottom: 0;
        }
    }

    &__ttl {
        margin-bottom: 16px;

        @media screen and (min-width: 600px) {
            font-size: 23px;
        }
    }

    &__txt {
        margin-bottom: 30px;

        @media screen and (min-width: 600px) {
            font-size: 15px;
        }
    }

    &__banner__container {
        display: flex;
        justify-content: space-between;
    }

    &__banner {
        width: 37vw;

        @media screen and (min-width: 600px) {
            width: 21vw;
        }
    }
}

.about {

    &__los {
        display: block;
        padding-bottom: 25px;
        background-color: #EBDFD9;

        @media screen and (min-width: 600px) {
            padding: 40px 0;
        }
    }

    &__los__container {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 600px) {
            position: relative;
        }
    }

    &__bouquet {
        display: block;
        padding-bottom: 25px;
        background-color: #CFC1D6;

        @media screen and (min-width: 600px) {
            padding: 40px 0;
        }
    }

    &__bouquet__container {
        display: flex;
        flex-direction: column-reverse;

        @media screen and (min-width: 600px) {
            position: relative;
        }
    }

    &__fresh {
        display: block;
        padding-bottom: 25px;
        background-color: #C2CCD5;

        @media screen and (min-width: 600px) {
            padding: 40px 0;
        }
    }

    &__fresh__container {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 600px) {
            position: relative;
        }
    }


    &__sp__img {
        margin-bottom: 25px;

        @media screen and (min-width: 600px) {
            display: none;
        }
    }

    &__img {
        display: none;

        @media screen and (min-width: 600px) {
            display: block;
            margin-bottom: 0;
            object-fit: cover;
        }
    }

    &__box {
        width: 76vw;
        margin: 0 auto;

        @media screen and (min-width: 600px) {
            position: absolute;
            top: 50%;
            right: 3%;
            transform: translateY(-50%);
            width: 33vw;
            margin: 0;
        }
    }

    &__bouquet__container div {
        left: 3%;
    }

    &__ttl {
        margin-bottom: 25px;
        font-size: 20px;
        text-align: center;

        @media screen and (min-width: 600px) {
            text-align: left;
        }
    }
}

.bouquet {
    padding: 60px 0;
    background-color: #F6F5F1;
    text-align: center;

    &__ttl {
        display: inline-block;
        width: 76vw;
        margin-bottom: 16px;

        @media screen and (min-width: 600px) {
            font-size: 23px;
        }
    }

    &__txt {
        display: inline-block;
        width: 76vw;
        margin-bottom: 16px;

        @media screen and (min-width: 600px) {
            font-size: 15px;
        }
    }

    // swiper
    &-swiper {
        width: 100%;
        height: 100%;
        margin-left: 12vw;
    }

    &-box {
        position: relative;
    }

    &__img {
        object-fit: contain;
    }

    &__box__txt {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
    }
}

.order {
    padding: 60px 0;

    &__ttl {
        margin-bottom: 20px;
        text-align: center;

        @media screen and (min-width: 600px) {
            font-size: 23px;
        }
    }

    // swiper
    &-swiper {
        width: 100%;
        height: 100%;
    }

    &-box {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 0 6.8vw 0 24vw;

        @media screen and (min-width: 600px) {
            padding: 0;
            gap: 0;
        }
    }

    &__subcontainer {
        @media screen and (min-width: 600px) {
            width: 140px;
        }
    }

    &__img {
        width: 140px;
        margin: 0 auto;
        margin-bottom: 20px;

        @media screen and (min-width: 600px) {
            margin: 0;
            margin-bottom: 20px;
        }
    }

    &__subttl {
        margin-bottom: 20px;
        text-align: center;
        font-size: 13px;
    }

    &__txt {
        font-size: 16px;
    }

    &__arrow {
        width: 40px;

        @media screen and (min-width: 600px) {
            margin: 0 10px;
        }
    }

    &__subArrow {
        @media screen and (min-width: 600px) {
            display: none;
        }
    }
}

.insta {
    padding: 60px 0;
    background-color: $bgc;
    text-align: center;

    span {
        display: block;

        @media screen and (min-width: 600px) {
            display: inline-block;
        }
    }

    &__ttl {
        display: inline-block;
        margin-bottom: 24px;

        @media screen and (min-width: 600px) {
            margin-bottom: 40px;
            font-size: 23px;
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
        margin-bottom: 24px;

        @media screen and (min-width: 600px) {
            justify-content: space-between;
            gap: 14px;
            padding: 0 2vw;
            margin-bottom: 40px;
        }
    }

    &__link {
        position: relative;
        width: 40vw;

        @media screen and (min-width: 600px) {
            width: 22vw;
        }
    }

    &__container a::before {
        content: '';
        display: block;
        background: url(../images/icon.insta.png)center center / cover;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1;
    }

    &__btn {
        width: 327px;
        height: 60px;
        margin: 0 auto;
        border: 2px solid $gray;
        border-radius: 50px;
        color: $gray;
        font-size: 14px;
        font-weight: bold;
        line-height: 60px;

        @media screen and (min-width: 600px) {
            font-size: 16px;
        }
    }
}

.brand {
    &__container {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;

        @media screen and (min-width: 600px) {
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
            padding: 60px 0;
        }
    }

    &__img {
        width: 100%;
        padding: 40px 24px;

        @media screen and (min-width: 600px) {

            width: 146px;
            padding: 0;
        }
    }
}

.faq {
    padding: 40px 0;
    background-color: $bgc;

    &__inner {
        width: 76vw;
        margin: 0 auto;
    }

    &__ttl {
        margin-bottom: 16px;
        text-align: center;

        @media screen and (min-width: 600px) {
            margin-bottom: 18px;
            font-size: 23px;
        }
    }

    &__subttl {
        margin-bottom: 8px;
        font-size: 16px;

        @media screen and (min-width: 600px) {
            margin-bottom: 9px;
            font-size: 18px;
        }
    }

    &__txt {
        margin-bottom: 16px;
        padding-left: 14px;
        font-size: 14px;

        @media screen and (min-width: 600px) {
            margin-bottom: 18px;
            font-size: 16px;
        }
    }
}

.kv {
    background: url(../images/kv.jpg)center center / cover;
    width: 100%;
    height: 360px;

    @media screen and (min-width: 600px) {
    position: relative;
        height: 530px;
    }

    &__contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

    &__logo {
        display: none;

        @media screen and (min-width: 600px) {
            display: flex;
            width: 173px;
            margin: 0 auto;
            margin-bottom: 24px;
        }
    }

    &__txt {
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
    }

    &__banner__container {
        display: none;

        @media screen and (min-width: 600px) {
            display: flex;
            justify-content: center;
            gap: 2%;
        }
    }

    &__banner {
        @media screen and (min-width: 600px) {
            width: 164px;

        }
    }

}