//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.wrapper {
    overflow: hidden;
}

.info {
    width: 86vw;
    padding-top: 60px;
    margin: 0 auto;
    text-align: center;

    &__ttl {
        margin-bottom: 20px;
        font-size: 26px;
        letter-spacing: 0.02em;
        line-height: 1.7;
    }

    span {
        display: inline-block;
    }

    &__txt {
        margin-bottom: 60px;
        font-size: 15px;
        font-weight: bold;
    }
}

.app {
    padding: 60px 0;
    background-color: $bgc;
    text-align: center;

    &__inner {
        width: 76vw;
        margin: 0 auto;
    }

    &__img {
        width: 76vw;
        margin-bottom: 60px;
    }

    &__ttl {
        margin-bottom: 16px;
    }

    &__txt {
        margin-bottom: 30px;
    }

    &__banner__container {
        display: flex;
        justify-content: space-between;
    }

    &__banner {
        width: 37vw;
    }
}

.about {

    &__los {
        display: block;
        padding-bottom: 25px;
        background-color: #EBDFD9;
    }

    &__los__container {
        display: flex;
        flex-direction: column;
    }

    &__bouquet {
        display: block;
        padding-bottom: 25px;
        background-color: #CFC1D6;
    }

    &__bouquet__container {
        display: flex;
        flex-direction: column-reverse;
    }

    &__fresh {
        display: block;
        padding-bottom: 25px;
        background-color: #C2CCD5;
    }

    &__fresh__container {
        display: flex;
        flex-direction: column;
    }


    &__img {
        margin-bottom: 25px;
    }

    &__box {
        width: 76vw;
        margin: 0 auto
    }

    &__ttl {
        margin-bottom: 25px;
        font-size: 20px;
        text-align: center;
    }
}

.bouquet {
    padding: 60px 0;
    background-color: #F6F5F1;
    text-align: center;

    &__ttl {
        display: inline-block;
        width: 76vw;
        margin-bottom: 16px;

    }

    &__txt {
        display: inline-block;
        width: 76vw;
        margin-bottom: 16px;
    }

    // swiper
    &-swiper {
        width: 100%;
        height: 100%;
        margin-left: 12vw;
    }

    &-box {
        position: relative;
    }

    &__img {
        object-fit: contain;
    }

    &__box__txt {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
    }
}

.order {
    padding: 60px 0;

    &__ttl {
        margin-bottom: 20px;
        text-align: center;
    }

    // swiper
    &-swiper {
        width: 100%;
        height: 100%;
    }

    &-box {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 0 6.8vw 0 24vw;
    }

    &__img {
        margin-bottom: 20px;
    }

    &__subttl {
        margin-bottom: 20px;
        text-align: center;
        font-size: 13px;
    }

    &__txt {
        font-size: 16px;
    }

    &__arrow {
        width: 40px;
    }
}