//色に関する変数を登録します

// txt color
$black: #13191b;

// header-gnav background
$gnav: rgba(0, 0, 0, 0.7);

// section background
$bgc: #f6f6f6;

// footer-background
$darkgray: #656c6e;

// footer-nav background 
$gray: #939899;